.dataframe table {
  border-collapse: collapse;
}

.dataframe th {
    color: 
#fffdc4;
    background: 
#006868;
    cursor: pointer;
}

.dataframe td,
.dataframe th {
    width: 80px;
    height: 40px;
    text-align: center;
}

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    position: relative;
}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
    right: 8px;
    position: absolute;
} 

th.sorted[data-order="-1"]::after {
    content: "▼"
}

th.sorted[data-order="1"]::after {
    content: "▲"
}