{% extends 'base.html' %}

{% block title %}
    successfuly
{% endblock %}

{% block body %}
    <h2>Загрузка датасета</h2>
    <p>Выберите файл для загрузки</p>
    <form method = "POST" enctype="multipart/form-data" action = "/">   
        <input type="file" name="file" multiple>
        <input type ="submit" value="Загрузить"> 
    </form>
    <p style="color:rgba(0, 156, 39, 0.716)">Успешно загружено</p>
    {% for dataset in datasets %}     
        <br>{{ dataset.name }} 
        <form method = "GET" action="show/{{ dataset.id }}">
            <input type="submit" value="Показать датасет"/>
        </form></br>
    {% endfor %}
{% endblock %}

